// $logocolor: rgb(43, 43, 166);
// $buttoncolor: white;
// $button-back: blue;
$headermessagecolor: rgb(218, 182, 25);
$color1:#303841;
$color2:#3A4750;
$color3:#F6C90E;
$color4:#EEEEEE;

// // altenative1
// $color1:#1D5D9B;
// $color2:#75C2F6;
// $color3:#F4D160;
// $color4:#FBEEAC;